/*SF Pro Font*/
html{
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

b {
	font-weight: 900;
}
a {
	color: #69BBFF;
}

.alert-info{
	background-color: #69BBFF;
}

/*navbar */

.navbar{
	background-color: #333333;
	opacity: 0.92;
	margin-top: -10px; 
	padding-bottom: 0px !important;
}
.nav-item{
	text-align: right;
}
.nav-link{
	color: white !important;
	text-transform: uppercase;
	text-shadow: 0 0 0.5px #FFFFFF;
	margin-left: 30px;
}
.dropdown-menu{
	background-color: #333333;
	opacity: 0.92;
}
.dropdown-item{
	text-align: right;
	color: white !important;
	text-transform: uppercase;
	text-shadow: 0 0 0.5px #FFFFFF;
}
.dropdown-item:hover{
	background-color: #555555 !important;
}
.navbar-toggler-icon{
	opacity: 100%;
	border-color: rgba(225,255,255,1);
}

/*end navbar*/

/*splash screen of the homepage*/

#splash{
	background: url("../img/homepage/Hero @2x.png") no-repeat;
}
#casino-features, #bankroll-features{
	background: url("../img/homepage/Hero @1x.png") no-repeat;
	background-color: #333333;
	color: #FFFFFF;
	text-align: center;
}
#splash, #bankroll-features, #casino-features{
	background-size: cover;
  	background-position: center center;
  	height: 100%;
  	width: 100%;
}

.top-padding{
	padding-top: 80vh;
}

.cta-message{
	color: #FFFFFF;
	margin: 0 auto;
	text-align: center;
	/*font-size: 150%;*/
	text-shadow: 0 0 0.5px #FFFFFF;
	font-weight: 200;
	letter-spacing: 1.5px;
}

.cta-header{
	font-size: 300%;
	font-weight: 300;
}

.cta-subheader{
	font-size: 150%;
}

.cta{
	margin-bottom: 20px;
}

/*cta button --  this button is reused all over the site with small mods to the width/height*/
.cta-btn{
	/*design*/
	border-radius: 25px;
	border-width: 2px;
	border-color: #FFFFFF;
	background: rgba(0,0,0,0);
	color: #FFFFFF;

	/*sizing*/
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	transition: all 0.3s linear;

	/*font*/
	text-transform: uppercase;
	font-size: 16px;
}
.cta-btn:hover{
	background-color: #69BBFF;
	border-color: #69BBFF;
	box-shadow: 0 0 5px #69BBFF;
}
/*end cta button*/

.main-btn{
	width:80%;
	position:relative;
	left:10%;
	height: 60px;
}

/*end splash screen of the homepage*/

/*casino features section of the homepage, bankroll features section of the bankroll*/

.feature-title{
	font-size: 24px;
	font-weight: 500;
	line-height: 29px;
	color: #FFFFFF;
	text-align: center;
	padding-bottom: 20px;
}
.feature-title:after{
	content: '';
	display: block;
	position: absolute;
	margin-top: 5px;
	left: 40%;
	width: 20%;
	height: 4px;
	background-color: #69BBFF;
	box-shadow: 0 0 5px #69BBFF;
}

.heading-message{
	line-height: 38px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 32px;
	font-weight: 300;
	letter-spacing: 1.5px;
	color: white;
	text-shadow: 0 0 4px rgba(28, 243, 255, 1)
}

.feature-img{
	padding-top: 20px;
	padding-bottom: 20px;
	width: 80px;
	/*height: 80px;*/
}

.feature-element{
	font-size: 16px;
	font-weight: 200;
	line-height: 25px;
	color: white;
	padding-bottom: 1em;
}

/*end casino features section of the homepage, end bankroll features section of the bankroll*/

/*games and bankroll section of the homepage*/

#games-and-bankroll{
	background-color: #474747;
	text-align: center;
}

.game-btn{
	/* same css as the cta-btn just override some sizing */
	height: 50px !important;
	width: 60% !important;
	left: 0% !important;
}

.game-divider{
	padding-top: 20px;
	padding-bottom: 20px;
}

.game-divider-line{
	border-bottom: 2px solid;
	border-color: rgba(105, 187, 255, 0.6);
}

/*end games and bankroll section of the homepage*/

/*airdrop and crowdsale section of the homepage*/

#airdrop-and-crowdsale{
	background-color: #333333;
}
.ico-text-lg{
	color: white;
	font-weight: 500;
	font-size: 30px;
	text-shadow: 0 0 5px white;
}
.ico-text-md{
	color: white;
	font-weight: 300;
	font-size: 25px;
	text-shadow: 0 0 5px white;
}

/*end airdrop and crowdsale section of the homepage*/

/*social section of the homepage*/

#social{
	background: black;
	/*color: white;*/
	text-align: center;
	padding-bottom: 30px;
	padding-top: 30px;
}
.social-icon{
	width: 100px;
	opacity: 0.5;
	padding-bottom: 10px;
}

.social-icon:hover{
	opacity: 0.95;
}

/*end social section of the homepage*/

#bankroll-splash{
	background: url("../img/bankroll/Hero @15x.png") no-repeat;
  	background-size: cover;
  	background-position: center center;
  	height: 100%;
  	width: 100%;
  	background-color: #333333;
}

.action-btn-rt{
	border-radius: 0 25px 25px 0 !important;
	border-width: 2px 2px 2px 0 !important;
	height: 50px !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.action-btn-lt{
	border-radius: 25px 0 0 25px !important;
	border-width: 2px 0 2px 2px !important;
	height: 50px !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.action-btn-md{
	border-radius: 0 !important;
	border-width: 2px 2px 2px 2px;
	height: 50px !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.action-input-lt{
	height: 50px !important;
	background-color: #333333;
	border-width: 2px 2px 2px 2px;
	border-radius: 25px;
	border-color: white;
	text-align: center;
	font-size: 24px;
	color: white;
}

.action-input-md{
	height: 50px !important;
	background-color: #333333;
	border-width: 2px 2px 2px 2px;
	border-radius: 25px;
	border-color: white;
	text-align: center;
	font-size: 24px;
	color: white;
}

.action-input-lt:focus, .action-input-md:focus{
	background-color: #202020;
	color: white;
}

.action-input-lt:hover, .action-input-md:hover{
	border-color: #69BBFF;
	box-shadow: 0 0 5px #69BBFF;
	transition: all 0.3s linear;
}

.fine-print{
	text-transform: uppercase; 
	font-size: 10px !important; 
	line-height: 15px !important;
}

.game-message{
	color: #FFFFFF;
	text-transform: uppercase;
	text-shadow: 0 0 5px white;
	text-align: center;
	font-weight: 400;
}

@media (min-width: 0px){
	.game-message{
		font-size: 230%;
	}
	.how-to-play-btn{
		width: 70%;
		margin: 0 auto;
	}
}
@media (min-width: 576px){
	.game-message{
		font-size: 320%;
	}
	.how-to-play-btn{
		width: 100%;
		margin: 0 auto;
	}
}
@media (min-width: 768px){
	.game-message{
		font-size: 280%;
	}
}
@media (min-width: 992px){
	.game-message{
		font-size: 390%;
	}
}

.stat{
	padding-left: 40px;
	margin-top: -20px;
	text-shadow: 0 0 1px #BEBEBE;
}

.stat-num{
	font-size: 24px; 
	position: relative; 
	top: 2px;
	text-shadow: 0 0 2px #BEBEBE;
	font-weight: 400;
}

.dual-btn-group-lt .btn{
	left: 5px;
}
.dual-btn-group-rt .btn{
	right: 5px;
}

/*game sliders css*/
.game-slider {
	background: #333333;
	border-width: 2px !important;
	border-color: #FFFFFF !important;
}

.game-slider .ui-slider-handle {
  width: 1.5em;
  height: 1.5em;
  top: -6px;
  background-color: #333333;
  border-radius: 50%;
  box-shadow: 0 0 10px #333333;
}

.game-slider .ui-slider-range { 
  background: #FFFFFF;
  border-radius: 1px;
  box-shadow: 0 0 20px #FFFFFF;
}

.game-slider-text{
  text-shadow: 0 0 5px #69BBFF;
  font-size: 150%;
  text-align: right;
  position: relative;
  bottom: 15px;
  color: white;
}
/*end game sliders css*/

.buy-box-text{
	color: #FFFFFF;
	text-transform: uppercase;
	padding-bottom: 10px;
	font-size: 125%;
	text-shadow: 0 0 2px #69BBFF;
	padding-left: 10px;
}

.play-btn {
	font-size: 50px;
	border-radius: 50px;
	height: 100px;
	text-transform: uppercase;

	width: 90%;
	position: relative;
	left: 5%;
}

/*dice specific css*/

#dice-splash{
	background: url('/img/dice/Banner @3x.png') no-repeat;
	background-size: cover;
	padding-top: 120px;
}

#dice{
	background: url('/img/dice/Background @1x.png');
	background-color: black;
}

.place-bets-dice, .roll-bets-dice{
	background: url('/img/dice/Place Bets @1x.png') no-repeat;
	background-size: 100% 100%;
	padding: 50px;
}

#lucky-number{
  font-size: 777%;
  text-shadow: 0 0 20px white;
  text-align: center;
  color: #FFFFFF;
  font-weight: 700;
}

#lucky-number:after {
  content: '';
  display: block;
  margin-left: 35%;
  /*position: absolute;*/
  text-align: center;
  /*bottom: 0;
  left: 0;*/
  width: 30%;
  height: 0.01em;
  box-shadow: 0 0 20px rgb(105, 187, 255);
  background-color: rgba(105, 187, 255, 0.5);
}

#your-number {
  font-size: 777%;
  text-shadow: 0 0 10px #FFFFFF;
  text-align: center;
  color: #FFFFFF;
  font-weight: 200;
}

/*end dice specific css*/

/*slots specific css*/

#slots-splash{
	background: url('/img/slots/Banner @2x.png') no-repeat;
	background-size: cover;
	padding-top: 120px;
}

#slots{
	background: url('/img/slots/Background @1x.png');
	background-size: 100% 100%;
	min-height: 70vh;
}

.place-bets-slots{
	background: url('/img/slots/Place Bets @1x.png') no-repeat;
	background-size: 100% 100%;

	padding-left: 50px;
	padding-right: 50px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.slots-machine{
  align-content: center;
}

.dial {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  background-color: #FFFFFF;
  margin-left: 1em;
  box-shadow: 0 0 30px rgba(66, 226, 244, 0.8);
}

.dial-container  {
  text-align: center;
  overflow: hidden;
  margin-top: -300px;
}

.dial-background {
  position: absolute;
  z-index: 2;
  margin-left: -0.9em;
}

/*media queries deal with the slots machine, buy spins box */

@media (min-width: 0px){
  .dial-container{
    margin-top: -130px;
  }
  .dial-slot {
    height: 65px;
    width: 65px;
  }
  .dial {
    height: 195px;
  }
  .spins-remaining, .total-profit{
    font-size: 60%;
    padding-left: 4em;
  }
}
@media (min-width: 576px){
  .dial-container{
    margin-top: -200px;
  }
  .dial-slot {
    height: 100px;
    width: 100px;
  }
  .dial {
    height: 300px;
  }
  .spins-remaining, .total-profit{
    font-size: 60%;
    padding-left: 5em;
  }
}
@media (min-width: 768px){
  .dial-container{
    margin-top: -250px
  }
  .dial-slot {
    height: 125px;
    width: 125px;
  }
  .dial {
    height: 375px;
  }
  .spins-remaining{
    text-align: left;
    font-size: 65%;
    padding-left: 5em;
  }

  .total-profit{
    text-align: right;
    font-size: 65%;
    padding-right: 4em;
  }
}
@media (min-width: 992px){
  .dial-container{
    margin-top: -350px
  }
  .dial-slot {
    height: 175px;
    width: 175px;
  }
  .dial {
    height: 525px;
  }
  .spins-remaining{
    text-align: left;
    font-size: 80%;
    padding-left: 5.5em;
  }
  .total-profit{
    text-align: right; 
    font-size: 80%;
    padding-right: 4em;
  }
}
@media (min-width: 1200px){
  .dial-container{
    margin-top: -380px
  }
  .dial-slot {
    height: 190px;
    width: 190px;
  }
  .dial {
    height: 570px;
  }
  .spins-remaining{
    text-align: left;
    font-size: 100%;
    padding-left: 5.5em;
  }
  .total-profit{
    text-align: right; 
    font-size: 100%;
    padding-right: 5em;
  }
}

.score-pop {
  bottom: 10%;
  display: none;
  position: absolute;
  
  text-align: center;
  color: #00d936;
  font-size: 400%;
  z-index: 10;

  text-shadow: 0 0 10px #2ef718;
}

/*end slots specific css*/

