/*SF Pro Font*/
html{
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.white {
	color: white;
}

.navbar{
	background-color: #333333;
	opacity: 0.87;
	margin-top: -10px; 
	padding-bottom: 0px !important;
}

/*splash image*/
#splash{
	background: url("../img/homepage/Hero @1x.png") no-repeat;
  	background-size: cover;
  	background-position: center center;
  	height: 100%;
  	width: 100%;
}

.splash-logo{
	text-align: center;
	padding-top: 100px;
	padding-bottom: 20px;
}

.cta-message{
	color: #FFFFFF;
	margin: 0 auto;
	text-align: center;
	font-size: 150%;
	text-shadow: 0 0 0.5px #FFFFFF;
}

.cta{
	margin-bottom: 20px;
}

/*cta buttons*/
.cta-btn{
	/*design*/
	border-radius: 25px;
	border-width: 2px;
	border-color: #FFFFFF;
	background: rgba(0,0,0,0);
	color: #FFFFFF;

	/*sizing*/
	width: 100%;
	height: 75%;
	margin-top: 20px;
	margin-bottom: 20px;
	transition: all 0.3s linear;

	/*font*/
	text-transform: uppercase;
	font-size: 16px;
}

.cta-btn:hover{
	background-color: #69BBFF;
	border-color: #69BBFF;
	box-shadow: 0 0 5px #69BBFF;
}

#casino-features{
	background-color: #333333;
	color: #FFFFFF;
	text-align: center;
}

.feature-title{
	font-size: 24px;
	font-weight: 300;
	line-height: 29px;
	color: #FFFFFF;
	text-align: center;
	padding-bottom: 20px;
}
.feature-title:after{
	content: '';
	display: block;
	position: absolute;
	margin-top: 5px;
	left: 40%;
	width: 20%;
	height: 4px;
	background-color: #69BBFF;
	box-shadow: 0 0 5px #69BBFF;
}

.heading-message{
	line-height: 38px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 32px;
	font-weight: normal;
	color: #B3B3B3;
}

.feature-img{
	padding-top: 20px;
	padding-bottom: 20px;
	width: 80px;
	/*height: 80px;*/
}

.feature-element{
	font-size: 16px;
	font-weight: 200;
	line-height: 25px;
	color: #BEBEBE;
	padding-bottom: 1em;
}

#games-and-bankroll{
	background-color: black;
	text-align: center;
}

.game-divider:before{
	border-top: white;
	border-width: 10px;
}

#airdrop-and-crowdsale{
	background-color: #333333;
}

#social{
	background: black;
	/*color: white;*/
	text-align: center;
	padding-bottom: 30px;
	padding-top: 30px;
}
.social-icon{
	width: 100px;
	opacity: 0.5;
	padding-bottom: 10px;
}

.social-icon:hover{
	opacity: 0.95;
}